.containerP {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    justify-content: space-around;
    margin: 30px;
    padding: 25px;
}

@media (max-width: 768px) {
    .containerP {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
        justify-content: space-around;
        margin: 30px;
        padding: 25px;
    }
    
}

.containerC {
    max-width: 65%;
    margin: auto; 
  }

.carousel-inner img {
    height: 650px; 
    object-fit: cover; 
}

@media (max-width: 768px) {
    .containerC {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
    
}


h2 {
    color: white;
    text-align: center;
    padding-top: 40px;
}

.aboutMe {
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.aboutMe2 {
    color: white;
    text-align: center;
    font-size: large;
}


.resume {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #f8ef02;
    padding: 25px;
}

/* From Uiverse.io by Navarog21 */ 
button {
    position: relative;
    width: 11em;
    height: 4em;
    outline: none;
    transition: 0.1s;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #00ffd2;
    ;
  }

  button:hover {
    color: #ff003c;
  }
  
  #clip {
    --color: #00ffd2;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 5px double var(--color);
    box-shadow: inset 0px 0px 15px #0bc3a1;
    -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  }
  
  .arrow {
    position: absolute;
    transition: 0.2s;
    background-color: #00ffd2;
    top: 35%;
    width: 11%;
    height: 30%;
  }
  
  #leftArrow {
    left: -13.5%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  #rightArrow {
    -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
    left: 108%;
  }
  
  button:hover #rightArrow {
    background-color: #ff003c;
    left: -15%;
    animation: 0.6s ease-in-out both infinite alternate rightArrow8;
  }
  
  button:hover #leftArrow {
    background-color: #ff003c;
    left: 103%;
    animation: 0.6s ease-in-out both infinite alternate leftArrow8;
  }
  
  .corner {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color: #00ffd2;
    box-shadow: inset 1px 1px 8px #0bc3a1;
    transform: scale(1) rotate(45deg);
    transition: 0.2s;
  }
  
  #rightTop {
    top: -1.98em;
    left: 91%;
  }
  
  #leftTop {
    top: -1.96em;
    left: -3.0em;
  }
  
  #leftBottom {
    top: 2.10em;
    left: -2.15em;
  }
  
  #rightBottom {
    top: 45%;
    left: 88%;
  }
  
  button:hover #leftTop {
    animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightTop {
    animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #rightBottom {
    animation: 0.1s ease-in-out 0.17s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover #leftBottom {
    animation: 0.1s ease-in-out 0.19s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
  }
  
  button:hover .corner {
    transform: scale(1.25) rotate(45deg);
  }
  
  button:hover #clip {
    animation: 0.2s ease-in-out 0.55s both greenLight8;
    --color: #ff003c;
  }
  
  @keyframes changeColor8 {
    from {
      background-color: #00ffd2;
    }
  
    to {
      background-color: #ff003c;
    }
  }
  
  @keyframes lightEffect8 {
    from {
      box-shadow: 1px 1px 5px #ff003c;
    }
  
    to {
      box-shadow: 0 0 2px #ff003c;
    }
  }
  
  @keyframes greenLight8 {
    from {
    }
  
    to {
      box-shadow: inset 0px 0px 32px #ff003c;
    }
  }
  
  @keyframes leftArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(10px);
    }
  }
  
  @keyframes rightArrow8 {
    from {
      transform: translate(0px);
    }
  
    to {
      transform: translateX(-10px);
    }
  }
  
  
  